$font-stack: -apple-system, BlinkMacSystemFont,Roboto,'Open Sans','Helvetica Neue',sans-serif;

@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  //font-family: $font-stack;

  #logo {
    width: 10rem;
  }
  .container {
    img {
      width: 20rem;
    }
  }

  .header-block {
    background: url(../img/Rectangle.svg) no-repeat center top;
    width: 100%;
    height: 700px;
    background-size: cover;
    color: white;

    svg {
      position: absolute;
      overflow: hidden;
      /* bottom: 0; */
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  .header-block-top {
    justify-content: center;
    color: #fff;
    margin: auto;
    //width: 80%;
  }

  .header-block-text {
    justify-content: space-evenly;
    margin-top: 20px;
  }

  .comp-img {
    width: 438px;
    height: 484px;
    background: url(../img/comp.png) no-repeat;
    background-size: contain
  }
  .comp-form {
      margin-top: 60px;

     .comp-form-btn {
       background: #8C60F8;
       border-radius: 4px;
       //background-color: transparent;
       background-image: none;
     }
    .comp-header {
      color: white;
      font-weight: 900;
      font-size: 48px;
      line-height: 56px;
      width: 575px;
    }
  }

  .btn {
    color: white;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    width: 264px;
    height: 64px;
  }
}

@include media-breakpoint-down(md) {
  .comp-img {
    display: none;
  }
}

.my-nav {
  font-size: 18px;
  line-height: 21px;
  a {
    color: #FFFFFF;
    text-decoration: none;
  }
}

.inner {
  height: 1px;
  margin: 0px auto;
  border-bottom: 1px solid #BDBDBD;
  opacity: 0.2;
}

.logo-name {
  font-weight: bold;
  font-size: 36px;
  color: #BDBDBD;
}

.why-us-title {
  font-size: 48px;
  font-weight: 900;
  line-height: 56px;
  text-align: center;
  color: #282834;
  margin: 5rem auto 30px auto;
}

.why-us-block {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  //width: 68%;
  margin: auto;
  justify-content: space-between;
  list-style: none;
  counter-reset: my-awesome-counter;
  padding: 0;
  font-size: 24px;

  li {
    counter-increment: my-awesome-counter;
    display: flex;
    justify-content: center;
    align-items: center;
    //font-size: 1.3rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 100px;
  }
  li::before {
    content: "0" counter(my-awesome-counter);
    font-size: 2em;
    margin-right: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
    //font-family: 'Abril Fatface', serif;
    line-height: 1;
    font-weight: 900;
    color: #000000;
  }
}

.general-btn {
  margin: auto;
  color: #8C60F8;
}
//

@include media-breakpoint-down(xl) {
  .portfolio-block {
    grid-template-columns: repeat(2, minmax(345px, 1fr));
    grid-template-rows: repeat(3, minmax(350px, 1fr));
  }
  .only-helper-cell {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  .portfolio-block {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, minmax(450px, 1fr));
  }
  .only-helper-cell {
    display: none;
  }
}

@include media-breakpoint-up(xl) {
  .only-helper-cell {
    display: none;
  }
  .portfolio-block {
    height: 700px!important;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    .cell1 {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 1;
      grid-row-end: 5;

      background: #FCCCD4;
    }
    .cell2 {
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 4;
      background: #ECECEC;
    }
    .cell8 {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 5;
      grid-row-end: 7;
      background: #C4FCCC;
    }
    .cell4 {
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
      background: #CCF4B4;
    }
    .cell5 {
      //grid-area: e;
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 7;
      background: #CDEEFF;
    }
    .cell3 {
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 7;
      background: #FCCCBC;
    }
    //grid-auto-rows: auto;
  }
}

.portfolio-block {
  //display: flex;
  //flex-wrap: wrap;
  height: 100%;
  margin: auto;
  display: grid;
  gap: 1em;
  //flex-direction: row;
  //justify-content: center;
  width: 100%;
  /* grid-template-columns: 1fr 1fr 1fr; */
  //grid-template-columns: repeat(3 ,minmax(350px,345px));
  //grid-template-columns: 1fr 1fr 1fr!important;
  //grid-template-rows: 1fr 1fr!important;
  align-items: center;
  /* grid-template-rows: 2fr 1fr; */
  justify-content: center;
  //grid-template-rows: repeat(8, minmax(350px,345px));
  div {
    height: 100%;
    //margin: .5em;
  }

  .cell1 {
    background: #FCCCD4 url(../img/image_2.png) no-repeat center;
  }
  .cell2 {
    background: #ECECEC;
  }
  .cell8 {
    background: #C4FCCC;
  }
  .cell4 {
    background: #CCF4B4;
  }
  .cell5 {
    background: #CDEEFF;
  }
  .cell3 {
    background: #FCCCBC;
  }
}

button:hover,
button:focus {
  outline: none;
}

.general-btn-more {
  width: 265px;
  height: 64px;
  font-weight: bold;
  font-size: 18px;
  color: #8C60F8;
  background: white;
  border: #8C60F8 solid 1px;
  border-radius: 4px;
}

.more-block {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

//@include media-breakpoint-up(xl) {
//  .service-item {
//    min-width: 382px;
//  }
//}

.services-block {
  background: #F1F1F1;
  height: 100%;

  .services-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .service-item {
    border-radius: 4px 4px 0px 0px;
    min-width: 335px;
    height: 491px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: white;
    flex: 1 0 0%;
    text-align: center;
  }
  .service-item-header {
    background: #282834;
    height: 55px;
    color: white;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    padding-top: .5em;
  }
  .optimal-color {
    background: #8C60F8!important;
  }
  .price {
    font-weight: bold;
    font-size: 40px;
    color: #02AC4D;
  }
  .old-price {
    font-size: 19px;
    line-height: 22px;
    text-decoration-line: line-through;
    color: #333333;
  }
  .why-us-title {
      margin-top: auto;
  }
}